@tailwind base;
@tailwind components;
@tailwind utilities;


.display-page {
    display: none;
}

.header {
    display: block;
    border-bottom-width: 4px;
    border-color: rgb(107, 114, 128);
    width: 3rem
        /* 48px */
    ;
    height: 4rem
        /* 64px */
    ;
    margin-left: 0.25rem
        /* 4px */
    ;
    margin-right: 0.25rem
        /* 4px */
    ;
    font-size: 3rem
        /* 48px */
    ;
    line-height: 1;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 700;
}

.color-accept {
    background-image: linear-gradient(to bottom, rgb(187 247 208), rgb(34 197 94));
}

.button-color {}

.hiden-body {
    visibility: hidden;
}

.key-button {
    margin-bottom: 0.25rem
        /* 4px */
    ;
    width: 3rem
        /* 48px */
    ;
    height: 3rem
        /* 48px */
    ;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: rgb(156 163 175);
    background-image: linear-gradient(to bottom, white, #e4e4e7);

}

.gallows {

    position: absolute;
    background-color: rgb(55 65 81);
    border-width: 0px;
    border-radius: 0.25rem
        /* 4px */
    ;

}

.gallows-floor {
    width: 10rem
        /* 160px */
    ;
    height: 0.5rem
        /* 8px */
    ;
    bottom: 0.5rem
        /* 8px */
    ;
    right: 0.5rem
        /* 8px */
    ;
}

.gallows-wall {
    height: 11rem
        /* 176px */
    ;
    width: 0.25rem
        /* 4px */
    ;
    bottom: 0.5rem
        /* 8px */
    ;
    right: 1.5rem
        /* 24px */
    ;
}

.gallows-top-first {
    width: 10rem
        /* 160px */
    ;
    height: 0.25rem
        /* 4px */
    ;
    top: 40px;
    right: 1.5rem
        /* 24px */
    ;
}

.gallows-top-second {
    width: 3rem
        /* 48px */
    ;
    height: 0.25rem
        /* 4px */
    ;
    top: 58px;
    right: 1.25rem
        /* 20px */
    ;
    transform: rotateY(0deg) rotate(45deg);

}

.gallows-rope {
    width: 0.25rem
        /* 4px */
    ;
    height: 1.5rem
        /* 24px */
    ;
    top: 40px;
    left: 7rem
        /* 112px */
    ;
}

.player-head {
    width: 2rem
        /* 32px */
    ;
    height: 2rem
        /* 32px */
    ;
    top: 60px;
    left: 98px;
    border-width: 4px;
    border-radius: 9999px;
    background-color: transparent;
    border-color: rgb(55 65 81);


}

.player-body {
    width: 0.25rem
        /* 4px */
    ;
    height: 3rem
        /* 48px */
    ;
    top: 90px;
    left: 7rem
        /* 112px */
    ;
}

.player-right-hand {
    width: 2rem
        /* 32px */
    ;
    height: 0.25rem
        /* 4px */
    ;
    top: 7rem
        /* 112px */
    ;
    left: 110px;
    transform: rotateY(0deg) rotate(45deg);
}

.player-left-hand {
    width: 2rem
        /* 32px */
    ;
    height: 0.25rem
        /* 4px */
    ;
    top: 7rem
        /* 112px */
    ;
    left: 85px;
    transform: rotateY(0deg) rotate(-45deg);
}

.player-right-leg {
    width: 2rem
        /* 32px */
    ;
    height: 0.25rem
        /* 4px */
    ;
    top: 145px;
    left: 110px;
    transform: rotateY(0deg) rotate(45deg);

}

.player-left-leg {
    width: 2rem
        /* 32px */
    ;
    height: 0.25rem
        /* 4px */
    ;
    top: 145px;
    left: 85px;
    transform: rotateY(0deg) rotate(-45deg);

}